export const blockRules = {
  deserialize(el, next) {
    const block = BLOCK_TAGS[el.tagName.toLowerCase()];
    if (!block) return;
    return {
      kind: 'block',
      type: block,
      nodes: next(el.childNodes),
    };
  },
  serialize(object, children) {
    if (object.kind !== 'block') return;
    switch (object.type) {
      case 'section':
        return <section>{children}</section>;
      case 'quote':
        return <blockquote>{children}</blockquote>;
      case 'heading-one':
        return <h1>{children}</h1>;
    }
  },
};

return [blockRules];
